<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.solarisd.calc">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_calc"
        android:label="@string/app_label"
        android:roundIcon="@drawable/ic_calc_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMain">

        <activity android:name=".view.HistoryActivity"
            android:label="@string/history_activity_label"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.AboutActivity"
            android:label="@string/about_activity_label"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/settings_activity_label"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".view.MainActivity"
            android:label="@string/main_activity_label"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>